*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
/*    background-color:  #ff471a;*/
    zoom: reset;
    font-weight: 300;
}
body{
    backgorund-color: pink
}
.menu ul{
    float: right;
    margin-top: 0px;

}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-600%);
    font-family: sans-serif;
    color: #fff;
    font-size: 50px;
}

.menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 15px;
/*  border: 1px solid black;*/
}

.menu ul li a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: 0.6s ease;

}

.menu ul li a:hover{
    background-color: black;
    color: #fff;
    padding: 15px;
}


button{
    background-color: lightyellow;
    border: none;
    float: right;
    cursor: pointer;
    height: 25px;
    width: 100px;
    margin-right: 10px;
    font-size-adjust: cap-height;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
/*    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));*/
}

.menu ul{
    float: right;
    margin-top: 0px;

}
.menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 15px;
/*  border: 1px solid black;*/
}

.logo{
    height: 150px;
    width: auto;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;
}
.menu ul li a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: 0.6s ease;

}

.menu ul li a:hover{
    background-color: black;
    color: #fff;
    padding: 15px;
}

h1{
    position: absolute;
    top: 62%;
    left: 10%;
    transform: translate(-50%,-600%);
    font-family: sans-serif;
    color: #000;
    font-size: 50px;
}
h2
{
    position: absolute;
    top: 75%;
    left: 16%;
    transform: translate(-50%,-600%);
    font-family: sans-serif;
    color: #000;
    font-weight: 800;
    font-size: 50px;
}

section p{
    font-weight: 400;
    color: #000;
    font-weight: 600;
    position: absolute;
    top: 37%;
    left: 2.8%;
}

#first{
    height: 370px;
    width: 100%;
    background-color: pink;
}

#second{
    height: 370px;
    width: 100%;
    background-color: lightgreen;
}

#second h3{
    position: absolute;
    left: 41%;
    top: 45%;
    color: #000;
    font-size: 25px;
    font-weight: 900;
}
#second form{
    position: absolute;
    left: 46%;
    top: 50%;
}

#second p{
    position: absolute;
    top: 60%;
}

#third{
    height: 370px;
    width: 100%;
    background-color: darkorange;
}

#third h3{
    position: absolute;
    left: 24%;
    font-weight: 900;
    font-size: 25px;
    color: #000;
}

#third table{
    position: absolute;
    left: 18%;
    top: 90%;
    font-size: 16px;
}

table tr td{
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
}








@media (max-width: 809px){
    .menu ul li{
        display: block;
    }

    .logo{
        height: 110px;
        width: auto;
    }
}
